<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Job Search</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css')}}">
</head>

<body class="text-style p-8 max-w-2xl mx-auto mt-50">
    <h1 class="heading center">Job Search</h1>
    <form class="center" action="/search" method="get">
        <input class="form-w form-border" type="text" name="query" autofocus>
        <input type="submit" value="Search">
    </form>
    <ul>
        <!-- Go through each job title and link in the "titles_and_links" variable sent from the Flask app -->
        {% for title, link in matches %}
        <li><a class="overflow" href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
    {% if query|length > 0 and matches|length == 0 %}
    <p>No matches were found.</p>
    {% endif %}

    {% if query|length > 0 and matches|length > 0 %}
    <div style="align:left;font-face:verdana;color:gray;">
        <p><i>Keyphrase frequecy distribution</i></p>
        <img src="./static/query_{{ query }}_plot.png">
    </div>
    {% endif %}
</body>

</html>