<!DOCTYPE html>
<html>
<!-- used to be results.html-->

<head>
    <meta charset="utf-8">
    <title>Job Search</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body class="text-style top-left p-8 mx-auto overflow-hidden"
    style="margin-top: -1rem; width: 100%; background-image: url('../static/hello-network.jpg'); background-size: 90em;">
    <div style="display: flex; justify-content: space-evenly;">
        <div style="margin-left: -7rem;">
            <div class="search-container">
                <div style="display: flex; justify-content: space-evenly;">
                    <h1 class="heading">Job Search</h1>
                    <a style="font-size: medium; font-weight: 500; color: darkgray; margin-top: 2.3rem;"
                        href="/trending">
                        What's trending? &#8599;
                    </a>
                </div>
                <form style="margin-left: 2rem;" action="/search">
                    <input class="form-w form-border" type="text" name="query" id="search-query-input">
                    <button type="submit"
                        style="border-radius: 5%; border-style: solid; background: #e4e4e4;">Search</button>
                    <div class="p-05">
                        <input type="checkbox" id="tf-idf" name="method" value="tf-idf">Tf-idf
                        Search</button>
                        <input type="checkbox" id="boolean" name="method" value="boolean">Boolean
                        Search</button>
                        <input type="checkbox" id="fuzzy" name="method" value="fuzzy">Fuzzy
                        Search</button>
                    </div>
                </form>
            </div>
            <div id="title-container" class="result-container">
                <!-- Go through each job title -->
            </div>
        </div>
        <div class="description-container" style="line-height: 1.5;" id="description-container">
            <!-- Show more details for a clicked job -->
        </div>
    </div>
    <script async>
        (async () => {
            // find "query" query param to be able to pass it on to search-json endpoint
            let params = (new URL(document.location)).searchParams;
            let query = params.get("query");

            let querySearchInput = document.getElementById('search-query-input');
            if (query && query.length) {
                // pre-fill the search box with whatever you just searched for
                querySearchInput.value = query;
                // pre-fill the checkboxes with whatever you just searched for
                for (const [key, val] of params) {
                    let checkbox = document.getElementById(val);
                    if (checkbox && checkbox.matches('[type="checkbox"]')) {
                        checkbox.checked = true;
                    }
                }
            }

            let titleContainer = document.getElementById('title-container');

            // call /search-json and put into array of objs
            // loop through the array on the frontend to render all matches and handle their expand box
            const resp = await fetch(`/search-json?${params.toString()}`);

            if (!resp.ok) {
                let p = document.createElement('p');
                p.classList.add("error");
                p.innerHTML = "Something went wrong!";
                titleContainer.appendChild(p);
                hideDescriptionContainer();
            }

            const matches = await resp.json();

            // If no matches
            if (query && !matches.length) {
                let p = document.createElement('p');
                p.classList.add("error");
                p.innerHTML = "No matches were found!";
                titleContainer.appendChild(p);
                hideDescriptionContainer();
            }
            else {
                showDescriptionContainer();
            }

            matches.forEach((match, index) => {
                let button = document.createElement('button');
                button.classList.add("overflow-hidden", "titles");
                button.innerHTML = match.title;
                titleContainer.appendChild(button);

                button.addEventListener('click', async (event) => {
                    // remove all the buttons with "active" class
                    var activeButtons = document.getElementsByClassName('active');
                    for (i = 0; i < activeButtons.length; i++) {
                        activeButtons[i].classList.remove('active')
                    }

                    // add "active" class to our current button which was clicked
                    button.classList.add('active');

                    renderMatchIntoDescriptionContainer(match);
                });

                // make the first one clicked by default since we show its description by default
                if (index == 0) {
                    button.classList.add('active');
                }
            });

            // pre-render first match element onto description container
            renderMatchIntoDescriptionContainer(matches[0]);
        })()

        function hideDescriptionContainer() {
            let descriptionContainer = document.getElementById('description-container');
            descriptionContainer.style.visibility = 'hidden';
        }

        function showDescriptionContainer() {
            let descriptionContainer = document.getElementById('description-container');
            descriptionContainer.style.visibility = 'visible';
        }

        function renderMatchIntoDescriptionContainer(match) {
            let descriptionContainer = document.getElementById('description-container');
            // Clear previous content
            descriptionContainer.innerHTML = '';

            // Create title element
            let titleElement = document.createElement('h2');
            titleElement.textContent = match.title;
            descriptionContainer.appendChild(titleElement);

            // Create link sub-heading element
            let actualJobLinkElement = document.createElement('a');
            actualJobLinkElement.textContent = match.link;
            actualJobLinkElement.href = match.link;
            actualJobLinkElement.target = "_blank";
            descriptionContainer.appendChild(actualJobLinkElement);

            // Create description element
            let descriptionElement = document.createElement('p');
            descriptionElement.textContent = match.description;
            descriptionContainer.appendChild(descriptionElement);
        }
    </script>
</body>

</html>